.black{
        color:black;
        width: 400px;
        height: 400px;
        gap: 10px;
        display: flex;
        flex-direction: column;
}

.light{
    color:violet;
    width: 400px;
    height: 400px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
