.itemContainer{
    display: flex;
    flex-direction: column;
    gap:5px;
    width:400px;
    background-color: firebrick;
    border-radius: 10px;
    border: 5px solid palegreen ;
    padding: 10px;
    color: darkblue;
}
