@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    height: 100%;
    width:100%;
}
#root{
    height:100%;
    width:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    padding-top:100px;
}
